.post {
    width: 95%;
    margin: 0 auto;
}
.main-title {
    font-size: 1.75em;
}
.post blockquote {
    margin: 1em 0;
    padding-left: 20px;
    font-style: italic;
    border-left: 3px solid #2196f3;
}
.post-img figcaption {
    font-size: 0.875em;
    font-style: italic;
}
.subscribe-form {
    width: 95%;
    margin: 20px auto 0;
    padding: 30px 10px;
    text-align: center;
    border: 3px solid #2196f3;
    box-sizing: border-box;
}
.subscribe-button {
    margin: 0;
    padding: 7px 20px;
    font-size: 1.2em;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: #2196f3;
    box-shadow: 0 0 5px 0 #636363;
    transition: ease .2s box-shadow;
    cursor: pointer;
}
.subscribe-button:hover {
    box-shadow: 0 0 8px 0 #636363;
}
.share-buttons {
    width: 95%;
    margin: 20px auto 0;
}
.share-desc {
    margin: 0;
}
.share-links {
    display: flex;
    flex-wrap: wrap;
}
.share-link {
    display: block;
    margin: 10px 10px 0 0;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
    background-color: #2196f3;
    border-radius: 3px;
    transition: ease .2s box-shadow;
    cursor: pointer;
}
.share-link:hover {
    box-shadow: 0 0 8px 0 #636363;
}